/* Granim.js CSS code START */
#granim-canvas {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

header {
    text-align: center;
    margin-top: 10px;
    font-size: larger;
}

.card {
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
  margin-top: 30px;
  width: 300px;
  height: 500px
}

.back {
  border-radius: 8px;
  color: rgb(170, 170, 170);
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0);
  margin-left: -1400px;
}


@media screen and (max-width:995){
  .card {
    width: 100%;
  }
}

