.row {
  padding-top: 16px;
  padding-bottom: 16px;
}
.cards {
  text-align: center;
}
.card {
  text-align: center; /* placeholder */
}
.cards img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  flex-direction: row;
  border-radius: 8px;
  filter: drop-shadow(0 0 0.125rem black);
  margin: 8px;
}
.cards img:hover {
  opacity: 80%;
  transition: 0.2s;
  padding: 4px;
}
.container {
  max-width: 960px;
}
.greenOutline {
  outline: 6px solid green;
}
#introImage {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  margin: auto;
}
